
.umjs_opdsbrowser {
    display: block;
    border: 1px solid black;
}

.umjs_opdsbrowser_acquisitionfeed_element {
    max-width: 180px;
    max-height: 180px;
    border: 2px solid green;
    margin: 5px;
    display: inline-block;
}

.umjs_opdsbrowser_title {
    font: bold 18pt arial, sans-serif;
    background-color: lightgray;
}

.umjs_opdsbrowser_acquisitiontitle {
    font: bold 10pt arial, sans-serif;
}

.umjs_opdsbrowser_acquisitionfeed_img {
    border: 1px solid black;
    margin: 3px;
}

.umjs_opdsbrowser_navigationfeed_element {
    min-height: 48px;
    border: 2px solid darkgreen;
    margin: 3px;
    background-color: green;
    color: white;
    display: block;
}

.umjs_opdsbrowser_title {
    font: bold 18pt arial, sans-serif;
    background-color: lightgray;
}

.umjs_opdsbrowser_navigationtitle {
    font: bold 14pt arial, sans-serif;
}

.umjs_opdsbrowser_navigationfeed_img {
    border: 1px solid black;
    padding: 4px;
    background-color: white;
    float: left;
    margin: 3px;
}

.umjs_opdsbrowser_containerentry_element {
    border-bottom: 2px solid lightgray;
}
