build
build-nw-dist
*~
release-settings-android.sh
cordova.js.ignore
node_modules/*
umpassword.html
build-test
ustadmobileContent
temp
node-qunit-testresults.txt
nbproject/private/
nbproject
testing-files-downloads
coverage_report
