<?xml version='1.0' encoding='utf-8'?>
<widget id="com.toughra.ustadmobile" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>UstadMobile</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access subdomains="true" uri="*" origin="*" />
    <!--<access uri="http://intranet.paiwastoon.net" subdomains="true" />-->
    <access uri="*" subdomains="true" />
    <!--<access uri="http://www.ustadmobile.com" subdomains="true" />-->
    <!--<preference name="childBrowser" value="enable" />--><!--Default is enable-->
    <preference name="websecurity" value="disable" /><!--Default is enable-->
    <!--We may not want to disable websecurity for 1. Security reasons, 2. Not to be in the app store. Do not use until last resort.-->
    
    <!--<rim:permissions>-->
        <!--<rim:permit>read_device_identifying_information</rim:permit>-->
        <!--<rim:permit>access_shared</rim:permit>
    </rim:permissions>-->
</widget>
